In [1]:
#cerchiamo di ottenere un dataset con la lista di libri comuni per gli autori resenti nella lista che viene riportata sotto
#obiettivo finale è un dataset con tutti i link per ognuna delle 6 piattaforme (per poi raccoglierne le recensioni)



import re
import time
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
PATH='C:\\Users\\Fossati\\Desktop\\Tesi_Ale\\chromedriver91.exe'
driver = webdriver.Chrome(PATH)

#qui dentro vengono riportati i 32 autori comuni ai 3 dataset e quindi alle 3 lingue
#di questi dobbiamo prendere i link dei libri sulle varie piattaforme
aut_list=['Douglas Adams', 'William Gibson', 'Liu Cixin', 'John Scalzi', 'Terry Pratchett', 'Andrew Clements', 'Martha Wells', 'Andrzej Sapkowski', 'Ursula K. Le Guin', 'Philip Pullman', 'Jeff Kinney', 'Pittacus Lore', 'Michael Connelly', 'James Dashner', 'Dan Brown', 'Gillian Flynn', 'Ray Bradbury', 'Jojo Moyes', 'Margaret Atwood', 'Jo Nesbø', 'Neil Gaiman', 'Ransom Riggs', 'Isaac Asimov', 'Jules Verne', 'George Orwell', 'Roald Dahl', 'Alex Michaelides', 'Stephen King', 'Astrid Lindgren', 'Anna Todd', 'Agatha Christie', 'Stephenie Meyer']

In [33]:
aut_ko_list=['더글러스 애덤스',
 '윌리엄 깁슨',
 '류츠신',
 '존 스칼지',
 '테리 프래쳇',
 '앤드루 클레먼츠',
 '마샤 웰스',
 '안제이 사프콥스키',
 '어슐러 K. 르 귄',
 '필립 풀먼',
 '제프 키니',
 '피타커스 로어',
 '마이클 코넬리',
 '제임스 대시너',
 '댄 브라운',
 '길리언 플린',
 '레이 브래드버리',
 '조조 모예스',
 '마거릿 애트우드',
 '요 네스뵈',
 '닐 게이먼',
 '랜섬 릭스',
 '아이작 아시모프',
 '쥘 베른',
 '조지 오웰',
 '로알드 달',
 '알렉스 마이클리디스',
 '스티븐 킹',
 '아스트리드 린드그렌',
 '안나 토드',
 '애거사 크리스티',
 '스테프니 메이어']

In [ ]:
#schema:

#partendo da yes24 cicliamo il link con il nome dell'autore come chiave ricerca (coreano)
#prendiamo il link del libro e campo relativo alla tipologia di libro (book, complete, audio, ecc)
#successivamente, una volta creata la lista dei link: entriamo nei link eprendiamo alcuni metadati per i libri (titolo, autore,isbn)
#controllo qualità (su autore e tipologia di libro)

#poi inseriamo isbn su naver e salviamo link per i libri

In [6]:
#http://www.yes24.com/searchcorner/Search?keywordAd=&keyword=&domain=BOOK&qdomain=%b1%b9%b3%bb%b5%b5%bc%ad&query=Stephen+King&PageNumber=1&scode=012
    
lnk='http://www.yes24.com/searchcorner/Search?keywordAd=&keyword=&domain=BOOK&qdomain=%b1%b9%b3%bb%b5%b5%bc%ad&query=&PageNumber=&scode=012'
lnk[:112] + str(autore) + lnk[112:124] + str(i) + lnk[124:]

'http://www.yes24.com/searchcorner/Search?keywordAd=&keyword=&domain=BOOK&qdomain=%b1%b9%b3%bb%b5%b5%bc%ad&query=author+auhor&PageNumber=i&scode=012'

In [23]:
driver.get('http://www.yes24.com/searchcorner/Search?keywordAd=&keyword=&domain=BOOK&qdomain=%b1%b9%b3%bb%b5%b5%bc%ad&query=Stephen+King&PageNumber=4&scode=012')

ti=driver.find_elements_by_xpath("//td[@class='goods_infogrp']/p[@class='goods_name goods_icon']")
for el in ti:
    
    print(el.text.split(']')[0][1:])

도서
도서
도서
도서
도서
도서
도서
도서
도서
도서
도서
도서
도서
도서
도서
도서
도서
도서
도서
도서

In [24]:
l=driver.find_elements_by_xpath("//tr/td[@class='goods_img']/a")
for el in l:
    print(el.get_attribute('href'))

http://www.yes24.com/Product/Goods/1387688
http://www.yes24.com/Product/Goods/12191462
http://www.yes24.com/Product/Goods/4456591
http://www.yes24.com/Product/Goods/3402595
http://www.yes24.com/Product/Goods/20153515
http://www.yes24.com/Product/Goods/413342
http://www.yes24.com/Product/Goods/89328647
http://www.yes24.com/Product/Goods/13712142
http://www.yes24.com/Product/Goods/1948119
http://www.yes24.com/Product/Goods/13879618
http://www.yes24.com/Product/Goods/91581285
http://www.yes24.com/Product/Goods/13712147
http://www.yes24.com/Product/Goods/11738689
http://www.yes24.com/Product/Goods/43862362
http://www.yes24.com/Product/Goods/15775745
http://www.yes24.com/Product/Goods/8648295
http://www.yes24.com/Product/Goods/76638431
http://www.yes24.com/Product/Goods/76638425
http://www.yes24.com/Product/Goods/50221933
http://www.yes24.com/Product/Goods/40932075

In [28]:
yes_link=[]
tipe=[]
aut=[]
lnk='http://www.yes24.com/searchcorner/Search?keywordAd=&keyword=&domain=BOOK&qdomain=%b1%b9%b3%bb%b5%b5%bc%ad&query=&PageNumber=&scode=012'
for autore in aut_list:
    time.sleep(3)

    for i in range(1,30,1):
        #time.sleep(3)
        link= lnk[:112] + str(autore) + lnk[112:124] + str(i) + lnk[124:]
        #print(link)
        try: #perchè può essere che sfori di pagina
            time.sleep(2)
            driver.get(link)
            driver.find_element_by_xpath("//td[@class='goods_infogrp']/p[@class='goods_name goods_icon']").text #è la prova per scorrere le pagine in cui non ci sono libri
        except:
            try: #perchè può essere che sfori di pagina
                #time.sleep(5)
                driver.get(link)
                time.sleep(2)
                driver.find_element_by_xpath("//div[@class='col-cover']/a['_ngcontent-serverapp-c194']")
            except:
            
                break
            
        l=driver.find_elements_by_xpath("//tr/td[@class='goods_img']/a") #i link ai libri yes
        for el in l:
            yes_link.append(el.get_attribute('href'))
            aut.append(autore)


        ti=driver.find_elements_by_xpath("//td[@class='goods_infogrp']/p[@class='goods_name goods_icon']")
        for el in ti:
    
            tipe.append(el.text.split(']')[0][1:])

    
            
y_links=pd.DataFrame(list(zip(yes_link,tipe,aut)),columns=['Link_Yes24','Book_Type','Author_Sugg'])
y_links

                                      Link_Yes24 Book_Type      Author_Sugg
0     http://www.yes24.com/Product/Goods/1819520        도서    Douglas Adams
1     http://www.yes24.com/Product/Goods/1442160        도서    Douglas Adams
2     http://www.yes24.com/Product/Goods/1442161        도서    Douglas Adams
3     http://www.yes24.com/Product/Goods/1444999        도서    Douglas Adams
4     http://www.yes24.com/Product/Goods/1449471        도서    Douglas Adams
...                                          ...       ...              ...
1756  http://www.yes24.com/Product/Goods/3238205        도서  Stephenie Meyer
1757  http://www.yes24.com/Product/Goods/3238193        도서  Stephenie Meyer
1758  http://www.yes24.com/Product/Goods/3140380        도서  Stephenie Meyer
1759  http://www.yes24.com/Product/Goods/2374819        도서  Stephenie Meyer
1760  http://www.yes24.com/Product/Goods/2374818        도서  Stephenie Meyer

[1761 rows x 3 columns]

In [55]:
#quanti non sono books? (ma sono ad esempio audiolibri o cd o ebook?)
indici=[]
count=0
for el in ti:
    if el != '도서':
        indici.append(count)
print(len(indici))

6

In [30]:
#prima parte in cui si scrapano info generali sul libro di riferimento

titles=[]
authors=[]
isbn=[]
yes_link2=y_links['Link_Yes24'].tolist()

In [31]:


# queste  liste saranno unite in un dataframe a unico con ogni riga equivalente ad un libro





#scraping metadati

#codice scraping finale yes24


numero_libro=-1   
no_link=0

for book in yes_link2: 
    time.sleep(1)
    numero_libro+=1
    try:
        try:
            url= str(book)
            driver.get(url)
        except:
            time.sleep(5)
            url= str(book)
            driver.get(url)
    except:
        no_link+=1
        continue #non lo registro nemmeno se non trovo il link. Passo oltre
        
        
    
    #titolo
    try:
        title = driver.find_element_by_class_name('gd_name')
        titles.append(title.text)
    except:
        titles.append('error')
    
    #autore
    try:
        author = driver.find_element_by_class_name('lnk_author')
        authors.append(author.text)
    except:
        authors.append('error')
    

    
    
    #numero pagine, isbn e data di pubblicazione:
    try:
        n_pag=driver.find_elements_by_xpath("//div[@id='infoset_specific']/div[@class='infoSetCont_wrap']/div[@class='yesTb']/table[@class='tb_nor tb_vertical']/tbody[@class='b_size']/tr")
    
    except:
        isbn.append('error')

    #isbn
    try:
        isbn.append(re.findall(r'\d+' ,n_pag[2].text)[1])
    except:
        isbn.append('error')
        
    
    

    
    

    
    
  
print(len(titles))
print(len(authors))

print(len(isbn))

1761
1761
1761

In [32]:
#creazione dei pandas dataframe 1

books=pd.DataFrame(list(zip(titles,isbn,authors,aut,tipe,yes_link)), columns=['Title','ISBN','Author','Auth_Sugg','Book_type','Yes24_link'])
books=books.reset_index()
#affil_covid_def=affil_covid_def.drop('index',axis=1)
books

,index,Title,ISBN,Author,Auth_Sugg,Book_type,Yes24_link
0,0,은하수를 여행하는 히치하이커를 위한 안내서 합본,9788970135472,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1819520
1,1,은하수를 여행하는 히치하이커를 위한 안내서 1,9788970134796,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1442160
2,2,은하수를 여행하는 히치하이커를 위한 안내서 2,9788970134802,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1442161
3,3,은하수를 여행하는 히치하이커를 위한 안내서 3,9788970134819,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1444999
4,4,은하수를 여행하는 히치하이커를 위한 안내서 4,9788970134918,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1449471
...,...,...,...,...,...,...,...
1756,1756,호스트 The Host 2,9788925531472,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3238205
1757,1757,호스트 The Host 1,9788925531465,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3238193
1758,1758,트와일라잇 특별판,9788937832451,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3140380
1759,1759,트와일라잇 2,9788937831713,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/2374819
1760,1760,트와일라잇 1,9788937831706,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/2374818

In [34]:
books2=books.drop(indici,axis=0)  #filtriamo quelli che non sono libri
books2

,index,Title,ISBN,Author,Auth_Sugg,Book_type,Yes24_link
1,1,은하수를 여행하는 히치하이커를 위한 안내서 1,9788970134796,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1442160
2,2,은하수를 여행하는 히치하이커를 위한 안내서 2,9788970134802,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1442161
3,3,은하수를 여행하는 히치하이커를 위한 안내서 3,9788970134819,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1444999
4,4,은하수를 여행하는 히치하이커를 위한 안내서 4,9788970134918,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1449471
5,5,은하수를 여행하는 히치하이커를 위한 안내서 5,9788970134925,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1449472
...,...,...,...,...,...,...,...
1756,1756,호스트 The Host 2,9788925531472,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3238205
1757,1757,호스트 The Host 1,9788925531465,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3238193
1758,1758,트와일라잇 특별판,9788937832451,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3140380
1759,1759,트와일라잇 2,9788937831713,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/2374819
1760,1760,트와일라잇 1,9788937831706,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/2374818

In [41]:
books.groupby('Auth_Sugg').count() #per capire quante ce ne sono per autore

                   index  Title  ISBN  Author  Book_type  Yes24_link
Auth_Sugg
Agatha Christie      286    286   286     286        286         286
Alex Michaelides       1      1     1       1          1           1
Andrew Clements       27     27    27      27         27          27
Andrzej Sapkowski     11     11    11      11         11          11
Anna Todd              9      9     9       9          9           9
Astrid Lindgren       85     85    85      85         85          85
Dan Brown             47     47    47      47         47          47
Douglas Adams         19     19    19      19         19          19
George Orwell        276    276   276     276        276         276
Gillian Flynn          6      6     6       6          6           6
Isaac Asimov          61     61    61      61         61          61
James Dashner          7      7     7       7          7           7
Jeff Kinney           75     75    75      75         75          75
John Scalzi           18     18    18      18         18          18
Jojo Moyes            13     13    13      13         13          13
Jules Verne          190    190   190     190        190         190
Liu Cixin             12     12    12      12         12          12
Margaret Atwood       39     39    39      39         39          39
Martha Wells           5      5     5       5          5           5
Michael Connelly      56     56    56      56         56          56
Neil Gaiman           58     58    58      58         58          58
Philip Pullman        19     19    19      19         19          19
Pittacus Lore          7      7     7       7          7           7
Ransom Riggs          10     10    10      10         10          10
Ray Bradbury          16     16    16      16         16          16
Roald Dahl           123    123   123     123        123         123
Stephen King         189    189   189     189        189         189
Stephenie Meyer       26     26    26      26         26          26
Terry Pratchett       10     10    10      10         10          10
Ursula K. Le Guin     54     54    54      54         54          54
William Gibson         6      6     6       6          6           6

In [45]:
todrop=[]
count=0
for el in authors:
    if el not in aut_ko_list:
        todrop.append(count)
    count+=1
todrop[:10] 

#196 libri vengono scartati perchè non degli autori in lista. Gli altri sembrano essere puliti

[7, 13, 14, 15, 16, 17, 18, 52, 64, 80]

In [46]:
yes24=books.drop(todrop).reset_index()
yes24

,level_0,index,Title,ISBN,Author,Auth_Sugg,Book_type,Yes24_link
0,0,0,은하수를 여행하는 히치하이커를 위한 안내서 합본,9788970135472,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1819520
1,1,1,은하수를 여행하는 히치하이커를 위한 안내서 1,9788970134796,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1442160
2,2,2,은하수를 여행하는 히치하이커를 위한 안내서 2,9788970134802,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1442161
3,3,3,은하수를 여행하는 히치하이커를 위한 안내서 3,9788970134819,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1444999
4,4,4,은하수를 여행하는 히치하이커를 위한 안내서 4,9788970134918,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1449471
...,...,...,...,...,...,...,...,...
1560,1756,1756,호스트 The Host 2,9788925531472,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3238205
1561,1757,1757,호스트 The Host 1,9788925531465,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3238193
1562,1758,1758,트와일라잇 특별판,9788937832451,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3140380
1563,1759,1759,트와일라잇 2,9788937831713,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/2374819
1564,1760,1760,트와일라잇 1,9788937831706,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/2374818

In [53]:
yes24.groupby('Auth_Sugg',sort=False).count() #per capire quante ce ne sono per autore

                   level_0  index  Title  ISBN  Author  Book_type  Yes24_link
Auth_Sugg
Douglas Adams           12     12     12    12      12         12          12
William Gibson           6      6      6     6       6          6           6
Liu Cixin               12     12     12    12      12         12          12
John Scalzi             17     17     17    17      17         17          17
Terry Pratchett          9      9      9     9       9          9           9
Andrew Clements         22     22     22    22      22         22          22
Martha Wells             5      5      5     5       5          5           5
Andrzej Sapkowski       11     11     11    11      11         11          11
Ursula K. Le Guin       49     49     49    49      49         49          49
Philip Pullman          19     19     19    19      19         19          19
Jeff Kinney             72     72     72    72      72         72          72
Pittacus Lore            7      7      7     7       7          7           7
Michael Connelly        49     49     49    49      49         49          49
James Dashner            7      7      7     7       7          7           7
Dan Brown               39     39     39    39      39         39          39
Gillian Flynn            6      6      6     6       6          6           6
Ray Bradbury            12     12     12    12      12         12          12
Jojo Moyes              12     12     12    12      12         12          12
Margaret Atwood         36     36     36    36      36         36          36
Neil Gaiman             53     53     53    53      53         53          53
Ransom Riggs            10     10     10    10      10         10          10
Isaac Asimov            61     61     61    61      61         61          61
Jules Verne            173    173    173   173     173        173         173
George Orwell          250    250    250   250     250        250         250
Roald Dahl              74     74     74    74      74         74          74
Alex Michaelides         1      1      1     1       1          1           1
Stephen King           147    147    147   147     147        147         147
Astrid Lindgren         83     83     83    83      83         83          83
Anna Todd                9      9      9     9       9          9           9
Agatha Christie        276    276    276   276     276        276         276
Stephenie Meyer         26     26     26    26      26         26          26

In [54]:
yes24.groupby('Author',sort=False).count() #per capire quante ce ne sono per autore

            level_0  index  Title  ISBN  Auth_Sugg  Book_type  Yes24_link
Author
더글러스 애덤스         12     12     12    12         12         12          12
윌리엄 깁슨            6      6      6     6          6          6           6
류츠신              12     12     12    12         12         12          12
존 스칼지            17     17     17    17         17         17          17
테리 프래쳇            9      9      9     9          9          9           9
닐 게이먼            53     53     53    53         53         53          53
앤드루 클레먼츠         22     22     22    22         22         22          22
마샤 웰스             5      5      5     5          5          5           5
안제이 사프콥스키        11     11     11    11         11         11          11
어슐러 K. 르 귄       49     49     49    49         49         49          49
아이작 아시모프         62     62     62    62         62         62          62
필립 풀먼            19     19     19    19         19         19          19
제프 키니            72     72     72    72         72         72          72
피타커스 로어           7      7      7     7          7          7           7
마이클 코넬리          49     49     49    49         49         49          49
제임스 대시너           7      7      7     7          7          7           7
댄 브라운            39     39     39    39         39         39          39
길리언 플린            6      6      6     6          6          6           6
레이 브래드버리         12     12     12    12         12         12          12
조조 모예스           12     12     12    12         12         12          12
마거릿 애트우드         36     36     36    36         36         36          36
랜섬 릭스            10     10     10    10         10         10          10
쥘 베른            173    173    173   173        173        173         173
조지 오웰           250    250    250   250        250        250         250
로알드 달            74     74     74    74         74         74          74
알렉스 마이클리디스        1      1      1     1          1          1           1
스티븐 킹           146    146    146   146        146        146         146
아스트리드 린드그렌       83     83     83    83         83         83          83
안나 토드             9      9      9     9          9          9           9
애거사 크리스티        276    276    276   276        276        276         276
스테프니 메이어         26     26     26    26         26         26          26

In [ ]:
#il nome degli autori raccolti rispecchia quelli suggeriti e creati ad hoc con la lista

In [ ]:
#qui il sovrannumero potrebbe essere dato dai volumi

In [ ]:
#NAVER

In [56]:
er=0
for el in books['ISBN'].tolist():
    if el == 'error' or len(el) != 13 or el[0] == '\n':
        er+=1
er
#154 link non presentano l'isbn, quindi dobbiamo estrarci il titolo per loro per fare ricerca su amazon

154

In [57]:
#LISTA LINK DEFINITIVA
#codice creazione link a partire da ISBN del file di YES24

isbn_list= yes24['ISBN'].to_list()
tit_list= yes24['Title'].to_list()
lista_lnk_naver=[]
url='https://book.naver.com/search/search.nhn?query='
ind_libro=-1
x=0
while x < len(isbn_list):
    time.sleep(1)
    ind_libro+=1
    if isbn_list[x] == 'error' or len(isbn_list[x]) != 13 or isbn_list[x][0] == '\n':
        lnk=url+str(tit_list[x])
    else:
        lnk=url+str(isbn_list[x])
        
    driver.get(lnk)
    try:
        libri=driver.find_element_by_xpath("//div[@id='content']/ul[@class='basic']/li/div[@class='thumb type_search']/div[@class='thumb_type thumb_type2']/a").get_attribute('href')
        lista_lnk_naver.append(libri) #si prende il primo
    except:
        lista_lnk_naver.append('error')
        print(ind_libro)
        
    x+=1
        
print('\n')

28
82
129
171
172
187
188
190
191
192
193
194
195
196
197
198
199
200
201
202
203
208
210
229
231
332
339
365
437
460
518
522
595
636
780
937
951
957
959
960
962
964
992
998
1115
1170
1193
1206
1207
1208
1209
1210
1211
1212
1213
1376
1468
1535
1538
1552

NameError: name 'lista_lnk' is not defined

In [58]:
print(len(lista_lnk_naver))
print(lista_lnk_naver[:20])

1565
['http://book.naver.com/bookdb/book_detail.naver?bid=1997216', 'http://book.naver.com/bookdb/book_detail.naver?bid=1485158', 'http://book.naver.com/bookdb/book_detail.naver?bid=1485159', 'http://book.naver.com/bookdb/book_detail.naver?bid=1487491', 'http://book.naver.com/bookdb/book_detail.naver?bid=1501601', 'http://book.naver.com/bookdb/book_detail.naver?bid=1501602', 'http://book.naver.com/bookdb/book_detail.naver?bid=14849845', 'http://book.naver.com/bookdb/book_detail.naver?bid=6439173', 'http://book.naver.com/bookdb/book_detail.naver?bid=6225211', 'http://book.naver.com/bookdb/book_detail.naver?bid=6218267', 'http://book.naver.com/bookdb/book_detail.naver?bid=6048093', 'http://book.naver.com/bookdb/book_detail.naver?bid=1503059', 'http://book.naver.com/bookdb/book_detail.naver?bid=1569948', 'http://book.naver.com/bookdb/book_detail.naver?bid=7016194', 'http://book.naver.com/bookdb/book_detail.naver?bid=10900312', 'http://book.naver.com/bookdb/book_detail.naver?bid=66680', 'http://book.naver.com/bookdb/book_detail.naver?bid=1348209', 'http://book.naver.com/bookdb/book_detail.naver?bid=37589', 'http://book.naver.com/bookdb/book_detail.naver?bid=16393273', 'http://book.naver.com/bookdb/book_detail.naver?bid=14593717']

In [59]:
yes24['Link_Naver']=lista_lnk_naver
yes24

,level_0,index,Title,ISBN,Author,Auth_Sugg,Book_type,Yes24_link,Link_Naver
0,0,0,은하수를 여행하는 히치하이커를 위한 안내서 합본,9788970135472,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1819520,http://book.naver.com/bookdb/book_detail.naver...
1,1,1,은하수를 여행하는 히치하이커를 위한 안내서 1,9788970134796,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1442160,http://book.naver.com/bookdb/book_detail.naver...
2,2,2,은하수를 여행하는 히치하이커를 위한 안내서 2,9788970134802,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1442161,http://book.naver.com/bookdb/book_detail.naver...
3,3,3,은하수를 여행하는 히치하이커를 위한 안내서 3,9788970134819,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1444999,http://book.naver.com/bookdb/book_detail.naver...
4,4,4,은하수를 여행하는 히치하이커를 위한 안내서 4,9788970134918,더글러스 애덤스,Douglas Adams,도서,http://www.yes24.com/Product/Goods/1449471,http://book.naver.com/bookdb/book_detail.naver...
...,...,...,...,...,...,...,...,...,...
1560,1756,1756,호스트 The Host 2,9788925531472,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3238205,http://book.naver.com/bookdb/book_detail.naver...
1561,1757,1757,호스트 The Host 1,9788925531465,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3238193,http://book.naver.com/bookdb/book_detail.naver...
1562,1758,1758,트와일라잇 특별판,9788937832451,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/3140380,http://book.naver.com/bookdb/book_detail.naver...
1563,1759,1759,트와일라잇 2,9788937831713,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/2374819,http://book.naver.com/bookdb/book_detail.naver...
1564,1760,1760,트와일라잇 1,9788937831706,스테프니 메이어,Stephenie Meyer,도서,http://www.yes24.com/Product/Goods/2374818,http://book.naver.com/bookdb/book_detail.naver...

In [60]:
yes24.to_csv('Shared_KO.csv')